@{
    ViewData["Title"] = "Home Page";
}
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
 <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                                              
                        <li class="nav-item">
                            <div style="text-align: left: ;;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </div>
                        </li>
                        
                     <li class="nav-item">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <div style="text-align: left: ;;">
                         <a  class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                         </div>
                        }
                        </li>
                    </ul>
                </div>
                  </div>
        </nav>
    </header>
        <h2>Welcome to Hogwarts University of Witchcraft and Wizardry</h2>
        <p>
            <div> </div>
           Hogwarts University of Witchcraft and Wizardry is the Scottish wizarding university, located in the Highlands of Scotland.
           The castle is located in the mountains near a loch. The precise location of the university could never be uncovered because it was 
           rendered Unplottable. To Muggles the university looks like an old abandoned castle.
           Established around the 10th century, Hogwarts is considered to be one of the finest magical institutions in the wizarding world. 
           Children with magical abilities are enrolled at birth, and acceptance is confirmed by owl post. However, if the child in question is a Muggle-born, 
           a staff member from the university visits the child and his or her family in order to inform them of their magical heritage and the existence of the Wizarding world.
        </p>
        <img src="https://wallpaperaccess.com/full/541378.jpg", 
        alt="Picture of the University", style="width:1000px;height:600px;">
 